.headline {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headline--2 {
  font-size: 30px;
  line-height: 36px;

  &::after {
    content: '';
    bottom: 0;
    margin-top: 10px;
    height: 3px;
    width: 70px;
    background-color: $color-dark-gray;
  }
}

.highlight {
  color: $color-new-grass;
}

.underline {
  position: relative;
  display: inline-flex;
  overflow-x: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: $color-new-grass;
    transition: left .25s ease-in-out;
  }

  &:hover::after {
    left: 0;
  }
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
}

/* SVG's */
.icon {
  display: inline-block;
}