.modal-open {
  overflow: hidden;
  @media (min-width: $breakpoint-tablet) {
    padding-right: 15px;
  }
}

.block {
  padding: 100px 0;
}

.content-wrapper {
  max-width: $max-width-content-wrapper;
  margin: 0 auto;
}