.icon--arrow {
  width: 14px;
  height: 14px;
}

.icon--arrow-to-top {
  width: 18px;
  height: 18px;
}

.icon--linkedin,
.icon--github,
.icon--twitter,
.icon--instagram {
  width: 20px;
  height: 20px;
  fill: $color-white;
}